<h1>No one 'gets good' in a day. Welcome to GitBetter.</h1>

<p>Whether you're playing a game you love or a game you hate, GitBetter gives you the tools you need to level up.</p>

<ul>
  <p><%= link_to "Bosses", bosses_path %></p>
  <p><%= link_to "Add a boss", new_boss_path %></p>
</ul>
